// block 12

.portfolio__button {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background-color: var(--button-filters-color);
  color: var(--nav-color);
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  cursor: pointer;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);

}

.portfolio__button:hover,
.portfolio__button:focus {
  background-color: var(--button-hover-color);
  color: var(--light-collor);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__filters {
  display: flex;
  gap: 8px;
  row-gap: 15px;
  margin-bottom: 40px;
  @media screen and (max-width:767px) {
  flex-wrap: wrap;

  }
  @media screen and (min-width:768px) {
  justify-content: center;
  }
  
  

// }
// .portfolio__list {
//   // стандартно по 8пх Сменил так как в моб версии не переносится в низ 2 елемента фильтра
// @media screen and (max-width:767px) {
// //   margin-left: 12px;
// //   margin-bottom: 12px;
// }


// }

// .portfolio__list + .portfolio__list {
//   @media screen and (min-width:768px) { 
//     margin-left: 8px;
//   }

// }


.portfolio-border {
  border-top: 1px solid var(--border-color-top);

}
}